<header class="bg-[#1F335E] py-6 px-24 flex justify-between items-center">
  <img src="/src/assets/SelaskiLogo.svg" alt="" />
  <nav>
    <ul
      class="flex gap-x-11 text-white text-[13px] font-bold line-height-[16.19px] letter-spacing-[0.05em]"
    >
      <li>
        <a href="#">Plataforma Comex</a>
      </li>
      <li>
        <a href="#">Tracking </a>
      </li>
      <li>
        <a href="#">Operador Logístico</a>
      </li>
      <li>
        <a href="#">FAQs</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
    </ul>
  </nav>

  <button
    class="px-9 py-2 rounded-md text-white text-[15px] font-bold"
    style="background: linear-gradient(90.37deg, #1E71BC 13.5%, #1E9EA6 64.66%, #1E9EA6 87.54%);"
  >
    Accede
  </button>
</header>
