<section class="bg-[#1F335E] flex">
  <div class="w-1/2 px-24 mt-32 relative">
    <div class="z-40">
      <h1
        class="text-[rgb(226,232,240)] font-extrabold text-[36px] leading-[43.88px] text-wrap"
      >
        Solución
        <span class="text-[#8FCFD3]"> End to End </span>
        para tu Supply Chain Internacional
      </h1>
      <p class="text-[16px] font-semibold leading-6 text-left mt-8">
        Olvídate del estrés de la gestión internacional. Simplificamos tus
        importaciones y exportaciones de principio a fin.
      </p>
      <div class="flex mt-12">
        <button
          class="px-8 py-3 rounded-md text-white text-[18px] font-extrabold leading-6 bg-[#FF8D3D]"
        >
          Agenda Demo Gratis
        </button>
        <button
          class="px-8 py-3 ml-4 rounded-md text-white text-[20px] font-extrabold leading-6 border-[3px] border-[#FF8D3D]"
        >
          Tracking Gratis
        </button>
      </div>
    </div>

    <div class="z-30 absolute -top-12 left-7 w-[67%] aspect-square">
      <div
        class="w-[100%] aspect-square rounded-full absolute"
        style="background: linear-gradient(180deg, rgba(251, 255, 253, 0.05) 0%, rgba(31, 51, 94, 0.05) 100%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);"
      >
      </div>

      <div
        class="w-[125%] aspect-square rounded-full absolute"
        style="background: linear-gradient(180deg, rgba(251, 255, 253, 0.05) 0%, rgba(31, 51, 94, 0.05) 100%);position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);"
      >
      </div>
      <div
        class="rounded-full absolute h-[337.92px] w-[287px] opacity-55 blur-[115px]"
        style="background: #1E9EA6CC;"
      >
      </div>
    </div>
  </div>
  <div class="w-1/2 pr-8 py-7">
    <img src="/src/assets/home.png" alt="" />
  </div>
</section>
